<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <button class="button button-positive" ui-sref="login">Take me to Login Page</button>
      </div>
    </div>
  </ion-content>
</ion-view>