<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <button class="button button-positive" ui-sref="home">Take me to Home Page</button>
      </div>
    </div>
  </ion-content>
</ion-view> 