<ion-view view-title="Login Page" data-ng-controller="LoginCtrl as loginCtrl">
  <ion-content class="padding">
    	
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">Username</span>
		    <input type="text" ng-model="loginCtrl.email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input type="password" ng-model="loginCtrl.password">
		  </label>
			<button class="button button-block button-positive" ng-click="loginCtrl.doLogin()">
			  Login
			</button>
		</div>

  </ion-content>
</ion-view>